.card {
    width: 100%;
    color: black;
    
}

.list-group-item {
    background-color: grey;
}

#dispatch-card {
    background-color: blue;
    padding: none;
}

@media screen and (max-width: 568px) {

h1 {
text-align: center;
}
}